<div class="starter-template">
    <h1>Time to upload your iTunes XML Library File.</h1>
    <p>In iTunes, File >> Export >> Library</p>
    <p class="lead">Save the XML file somewhere, then use the<br>
        uploader below to upload the XML file.</p>
</div>

<div class="row justify-content-center">
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
</div>

<hr class="mb-4">
<div class="row justify-content-center">
    <button class="btn btn-primary btn-lg btn-block col-md-6" type="submit">Next</button>
</div>