<div class="starter-template">
    <h1>What does this do?</h1>
    <p class="lead">This takes your iTunes library XML file, examines it and then<br>
        connects to spotify and creates playlists for you.</p>
</div>

<div class="starter-template">
    <h1>What do I need to do?</h1>
    <p class="lead">If you're running your own service you need to sign up to the developer<br>
        section of spotify and get a client ID and client secret. You can get them from<br>
        <a href="https://beta.developer.spotify.com/dashboard/applications">beta.developer.spotify.com</a>
    </p>
</div>

<form>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="clientID">Client ID</label>
            <input type="text" class="form-control" id="clientID" placeholder="" value="">
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Client Secret</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="">
        </div>
    </div>
    <hr class="mb-4">
    <div class="row justify-content-center">
        <button class="btn btn-primary btn-lg btn-block col-md-3" type="submit">Next</button><div class="spinner"></div>
    </div>


</form>

